*{
          margin: 0;
          padding: 0;
}
.contact{
          margin-top: 200px;
          margin-left: 100px;
}
.contact h3{
          font-size: 30px;
}
.contact span{
          color: red;
}
.contact .nametag{
          margin-top: 30px;
}
.img{
          margin-left: 65%;
          position: absolute;
          top: 180px;
}
.img .imgOrg img{
          width: 300px;
          height: 400px;
          cursor: pointer;
}
.img .edit{
          cursor: pointer;
}
.img .edit{
          font-size: 20px;
          color: red;
          display: none;
}
.img:hover .edit{
          display: block;
}

